<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">
    <title>React Async Admin</title>
    <link href="/extensions/periodicjs.ext.reactadmin/static/css/main.0e98e187.css" rel="stylesheet">
    <script>
      var __padmin = JSON.parse(<% JSON.stringify(<%-locals.extension.reactadmin.settings%>) %>);
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="/extensions/periodicjs.ext.reactadmin/static/js/main.ac7d536b.js"></script>
  </body>
</html>
