<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">
    <title>React Async Admin</title>
    <script>
    var __padmin={
      "application":{
        "environment":"development"
      },
      "login":{
        "url":"https://localhost:8786/api/jwt/token",
        "devurl":"https://localhost:8786/api/jwt/token",
        "options":{
          "method":"POST",
          "headers":{
            "Accept":"application/json",
            "Content-Type":"application/json",
            "clientid":"clientIDNEEDED",
            "entitytype":"account"
          }
        }
      },
      "userprofile":{
        "url":"https://localhost:8786/api/jwt/profile",
        "devurl":"https://localhost:8786/api/jwt/profile",
        "options":{
          "method":"POST",
          "headers":{
            "Accept":"application/json",
            "Content-Type":"application/json",
            "clientid":"clientIDNEEDED",
            "entitytype":"account"
          }
        }
      }
    };
    </script>
    <link href="/extensions/periodicjs.ext.reactadmin/static/css/main.fca50ac3.css" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="/extensions/periodicjs.ext.reactadmin/static/js/main.05e9b712.js"></script>
  </body>
</html>
