<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">
    <title>React Async Admin</title>
    <link href="/extensions/periodicjs.ext.reactadmin/static/css/main.0e98e187.css" rel="stylesheet">
    <script type="text/javascript">
      <%- locals.viewhelper.passObjToClient(locals.extension.reactadmin.settings,"__padmin") %>
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="/extensions/periodicjs.ext.reactadmin/static/js/main.d87897dc.js"></script>
  </body>
</html>
