html{
  height:100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  height:100%;
  overflow-x:hidden;
}
a{
  color:#1fc8db;
}
.Medium-Speed{
  animation-duration: .25s;
}
.Slow-Speed{
  animation-duration: .5s;
}
.Header-Speed{
  animation-duration: .25s;
}
.Nav-Sidebar-Speed{
  /*-webkit-animation-duration: .25s;*/
  animation-duration: .25s;
  width:10rem;
}
#root{
  height:100%;
}
div[data-reactroot]{
  height:100%;
}
.__re-bulma_modal.__re-bulma_is-active .__re-bulma_modal-background{
  display: none;
}
.__re-bulma_card-content {
    padding: 5px;
}
.CodeMirror.cm-s-default{
  height:100%;
}